@* @model NinjectWarrior.ViewModels.BattleResultViewModel
@inject Microsoft.AspNetCore.Mvc.Rendering.IJsonHelper Json
@{
    ViewBag.Title = "Attack Result";
    bool playerAttacks = Model.PlayerRoll % 2 != 0;
    bool enemyAttacks = Model.EnemyRoll % 2 != 0;
}

<div class="terminal-window">
    <p>> INITIATING BATTLE SEQUENCE...</p>
    <p>> Player rolls: @Model.PlayerRoll | Enemy rolls: @Model.EnemyRoll</p>
    <div class="battle-images">
        <img src="~/images/d20_@(Model.PlayerRoll).png" alt="Player roll: @Model.PlayerRoll">
        <img src="~/images/d20_@(Model.EnemyRoll).png" alt="Enemy roll: @Model.EnemyRoll">
    </div>

    @if (playerAttacks)
    {
        if (enemyAttacks) // Both attack
        {
            <p>> Both combatants charge!</p>
            <div class="battle-images">
                <img src="~/images/attack.png" alt="Player attacks">
                <img src="~/images/attack.png" alt="Enemy attacks">
            </div>
        }
        else // Player attacks, Enemy defends
        {
            <p>> Player attacks! Enemy defends.</p>
            <div class="battle-images">
                <img src="~/images/attack.png" alt="Player attacks">
                <img src="~/images/defend.png" alt="Enemy defends">
            </div>
        }
    }
    else
    {
        if (enemyAttacks) // Player defends, Enemy attacks
        {
            <p>> Player defends. Enemy attacks!</p>
            <div class="battle-images">
                <img src="~/images/defend.png" alt="Player defends">
                <img src="~/images/attack.png" alt="Enemy attacks">
            </div>
        }
        else // Both defend
        {
            <p>> Both combatants take a defensive stance. A stalemate!</p>
            <div class="battle-images">
                <img src="~/images/stalemate.png" alt="Stalemate">
            </div>
        }
    }

    <p>> ---------------- BATTLE LOG ----------------</p>
    <p>> @Model.ResultMessage</p>
    <p>> ----------------------------------------------</p>
    <p>> PLAYER: @Model.Player.Name | HEALTH: @Model.Player.Health</p>
    <p>> ENEMY: @Model.Enemy.Name | HEALTH: @Model.Enemy.Health</p>
</div>
 *@